.common{
    background-image: url("../assets/common.png");
    background-size:contain;
}
.uncommon{
    background-image: url("../assets/uncommon.png");
    background-size:contain;
}
.rare{
    background-image: url("../assets/rare.png");
    background-size:contain;
}
.ultra-rare{
    background-image: url("../assets/ultra-rare.png");
    background-size:contain;
}
.legendary{
    background-image: url("../assets/legendary.png");
    background-size:contain;
}
.mythic{
    background-image: url("../assets/mythic.png");
    background-size:contain;
}
.special{
    background-image: url("../assets/special.png");
    background-size:contain;
}
.dagger{
    background-image: url("../assets/dagger.png");
    background-size:contain;
}
.short-sword{
    background-image: url("../assets/short-sword.png");
    background-size:contain;
}
.knife{
    background-image: url("../assets/knife.png");
    background-size:contain;
}