h1{
  align-content: center;
}
.show{
  background-color: gray;
}
.command{
  background-color: darkgray;
}
.inv{
  background-color: burlywood;
  display: flex;  
  flex-wrap: wrap;
}
.invslot{
  background-color: #85735d;
  border: 2px solid #595653 ;
  height: 100px;
  width: 100px;
  margin: 2px 2px;
}
.small-title{
  flex:1 100%;
}
.inv-slot-text{
  text-align: center;
}
.show-weapon-info{
  background-color: #242424;
  border: 2px solid #363636;  
  margin: 5px 5px;
}
.show-weapon-info-text{
  color: white;  
}
.show-weapon-info-img{
  height: 100px;
  width: 100px;
}
#game{
  margin: 0px 10px;
}